@using CBAOseno.Core.Models
@model IEnumerable<GLCategory>

@{
    ViewData["Title"] = "GLCategories";
}


<div class="text-center">
    <h1 class="display-4">List of GLCategories</h1>
</div>
<div class="text-right">
    
     <a asp-area="" asp-controller="GLCategory" asp-action="Create" class="btn btn-primary">Add new GLCategory</a>
</div>
<br />


@if(Model.Count() > 0)
    {
<table class="table table-bordered table-striped" style='width:100%'>

<thead class="thead-light">
    <tr>
        <th>S/n</th>
        <th>Category Name</th>
		<th>Main GL Category</th>
		<th>Description</th>
        <th>Status</th>
        <th>Options</th>
        
    </tr>
</thead>
<tbody>
    @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
						<td>@item.Categories</td>
                        <td>@item.CategoryDescription</td>
                        <td>@item.Status</td>
                        <td>
                            <a asp-controller="GLCategory" asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-outline-success">Edit</a>
                           <a asp-controller="GLCategory" asp-action="Detail" asp-route-id="@item.CategoryId" class="btn btn-outline-primary">Details</a>
                           
                        </td>
                    </tr>
                }
   
</tbody>
</table>
}
    else
    {
        <p>No categories created yet</p>
    }

